<mat-card style="margin-top: 10px">
  <mat-card-header>
    <img mat-card-avatar src="assets/zed.png">
    <div class="" style="position: absolute;
         left: 79%; right: 10px;">{{date}}</div>
    <mat-card-title style="
        word-break: break-word;     margin-right: 20%;
    ">
      {{user}} </mat-card-title>

    <mat-card-subtitle style="
        word-break: break-word;     margin-right: 20%;
    ">
      Link to Tweet
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{content}}
  </mat-card-content>
  <mat-card-footer>


    <button mat-button>
      <fa name="retweet"></fa>
    </button>




  </mat-card-footer>
</mat-card>