<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-card style="margin-top: 10px">
          <mat-card-header>
              <img mat-card-avatar src="assets/zed.png">
             <div  class="" style="flex: 1 100px; text-align:right;flex: none;">Feb 22 2020</div>
            <mat-card-title style="
            word-break: break-word; flex: none;
        ">
              main main main mainmainmainmain  main main main main main 
            </mat-card-title>
          
            <mat-card-subtitle  style="
            word-break: break-word; flex: none;
        ">
              subsubsubsubsubsub sub subsubsubsub subsub
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            content
          </mat-card-content>
          <mat-card-footer>
             
              
                  <button mat-button>ACTION 1</button>
                 
                  <button mat-button>ACTION 2</button>
                
              
          </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card style="margin-top: 10px">
            <mat-card-header>
                <img mat-card-avatar src="assets/zed.png">
               <div  class="" style="flex: 1 100px; text-align:right;flex: none;">Feb 22 2020</div>
              <mat-card-title style="
              word-break: break-word; flex: none;
          ">
                main main main mainmainmainmain  main main main main main 
              </mat-card-title>
            
              <mat-card-subtitle  style="
              word-break: break-word; flex: none;
          ">
                subsubsubsubsubsub sub subsubsubsub subsub
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              content
            </mat-card-content>
            <mat-card-footer>
               
                
                    <button mat-button>ACTION 1</button>
                   
                    <button mat-button>ACTION 2</button>
                  
                
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card style="margin-top: 10px">
            <mat-card-header>
                <img mat-card-avatar src="assets/zed.png">
               <div  class="" style="flex: 1 100px; text-align:right;flex: none;">Feb 22 2020</div>
              <mat-card-title style="
              word-break: break-word; flex: none;
          ">
                main main main mainmainmainmain  main main main main main 
              </mat-card-title>
            
              <mat-card-subtitle  style="
              word-break: break-word; flex: none;
          ">
                subsubsubsubsubsub sub subsubsubsub subsub
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              content
            </mat-card-content>
            <mat-card-footer>
               
                
                    <button mat-button>ACTION 1</button>
                   
                    <button mat-button>ACTION 2</button>
                  
                
            </mat-card-footer>
        </mat-card>
    </div>
  </div>
</div>