<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <mat-card style="margin-top: 10px">
          <mat-card-header>
              <img mat-card-avatar src="assets/zed.png">
             <div  class="" style="position: absolute;
             left: 78%;">Feb 22 2020</div>
            <mat-card-title style="
            word-break: break-word; flex: none;    width: 80%;
        ">
            @MakeSchoolkajwdkjaw kajhdkjaw kjawhd k akwdh akw kajwhd
            </mat-card-title>
          
            <mat-card-subtitle  style="
            word-break: break-word; flex: none;     width: 80%;
        ">
 Link to Tweet            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            content
          </mat-card-content>
          <mat-card-footer>
             
              
                  <button mat-button><fa name="retweet"></fa></button>
                 
                  
                
              
          </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card style="margin-top: 10px">
            <mat-card-header>
                <img mat-card-avatar src="assets/zed.png">
               <div  class="" style="position: absolute;
               left: 78%;">Feb 22 2020</div>
              <mat-card-title style="
              word-break: break-word; flex: none;     width: 80%;
          ">
@newsycombinator              </mat-card-title>
            
              <mat-card-subtitle  style="
              word-break: break-word; flex: none;    width: 80%;
          ">
 Link to Tweet              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              content
            </mat-card-content>
            <mat-card-footer>
               
                
              <button mat-button>Retweet</button>
            
                  
                
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card style="margin-top: 10px">
            <mat-card-header>
                <img mat-card-avatar src="assets/zed.png">
               <div  class="" style="position: absolute;
               left: 78%;">Feb 22 2020</div>
              <mat-card-title style="
              word-break: break-word; flex: none;     width: 80%;
          ">
 @ycombinator              </mat-card-title>
            
              <mat-card-subtitle  style="
              word-break: break-word; flex: none;     width: 80%;
          ">
            Link to Tweet
</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              content
            </mat-card-content>
            <mat-card-footer>
               
                
              <button mat-button>Retweet</button>
                 
             
                  
                
            </mat-card-footer>
        </mat-card>
    </div>
  </div>
</div>