<!--The content below is only a placeholder and can be replaced.
coding assingment 
https://docs.google.com/document/d/1KzhCDSa-mXtpuZfMtlbGoC6dFSGWixk-4ZQh0SCnGRY/edit#

-->
<mat-toolbar color="primary">
  <fa name="twitter"></fa><span class="margin-left-10">Tweets assignment</span>
  <a class="margin-left-10" mat-button routerLink="/home" routerLinkActive="active">Home</a> 
  <a class="margin-left-10" mat-button routerLink="/edit" routerLinkActive="active"> Edit </a>
</mat-toolbar>


<router-outlet></router-outlet>
